.NewPost textarea{
    border-style: none;
    outline: none;
    width: 35vw;
    min-height: 20vw;
    font-size:  1em;
    resize: none;
}

.NewPost input{
    border-style: none;
    width: 34.5vw;
    min-height: 2vw;
    font-size:  1em;
}

.new-post-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
}