.post-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 10%;
}

.posts-button-add-new {
    padding: 2%;
}

.post-details textarea{
    outline: none;
    width: 95vw;
    min-height: 20vw;
    font-size:  1em;
    resize: none;
}

.post-details input{
    width: 95vw;
    min-height: 3vw;
    font-size:  1em;
    word-break: break-all;
}

